.rememberMeBox {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.rememberMeBox__input {
    appearance: none;
    width: 24px;
    height: 24px;
    box-shadow: 0px 0px 0px 1px #F89300;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    position: relative;
    cursor: pointer;
}
.rememberMeBox__input[value='yes']::before {
    border-radius: 6px;
    content: '\2714';
    position: absolute;
    inset: 0;
    background-color: #F89300;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rememberMeBox__label {
    font-size: 1.125rem;
    font-weight: 600;
    font-family: var(--UrbanistFont);
    color: #212121;
    cursor: pointer;
}