.card {
    width: 300px;
    position: relative;
    cursor: pointer;
}
.card__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(0, 0, 0, 0.75);
}
.card__img {
    min-width: 230px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.card__textBx {
    margin-top: 13px;
}
.card__info_name {
    font-size: 1rem;
}
.card__info_price {
    font-size: 1.25rem;
    color: #FE8A00;
}
.card__desc {
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.5);
    line-height: 1.125rem;
    margin-top: .7em;
}